<div>
<h2>Exhibits</h2>
<a class="add" href="/exhibits/new">Add an Exhibit</a>
</div>
<table>
  <tr>
    <th>Artist</th>
    <th>Category</th>
    <th></th>
  </tr>
  <tr>
    <form method="get" action="exhibits">
      <td><select name="id">
        <option value="" selected>All Artists</option>
        <% @artists.each do |artist| %>
          <option value="<%= artist.id %>">
            <%= artist.name %>
          </option>
        <% end %>
      </select></td>
      <td><select name="category">
        <option value="" selected>All Categories</option>
        <% categories = @exhibits.map {
          |exhibit| exhibit.category
        } %>
        <% categories.uniq.each do |category| %>
          <option value="<%= category %>">
            <%= category %>
          </option>
        <% end %>
      </select></td>
      <td><input type="submit" value="filter"></td>
    </form>
  </tr>
  <% @exhibits.each do |exhibit| %>
  <tr>
    <td>
      <%= exhibit.artist.name %>
    </td>
    <td>
      <%= exhibit.category %>
    </td>
    <td>
      <a href="/exhibits/<%= exhibit.id %>">go to</a>
    </td>
  </tr>
  <% end %>
</table>
<% if request.fullpath.include? "?" %>
  <br>
  <a class="rm_filter" href="/exhibits">Remove Filter</a>
<% end %>
