<div id="infobar">
  <div class="info">
    <h2><%= @exhibit.artist.name %></h2>
    <h3> <%= @exhibit.category %></h3>
  </div>
  <div class="edit">
    <a class="edit" href="/exhibits/<%= @exhibit.id %>/edit">
      Edit
    </a>
    <form action="/exhibits/<%= @exhibit.id %>/delete" method="post">
      <input type="submit" value="delete">
    </form>
  </div>
</div>
<img src="<%= @images.sample %>">
